@font-face {
        font-family: "Monaspace Neon";
        src: url("libraries/monaspace/Monaspace-Neon-Variable.ttf") format("woff2");
        font-weight: 100 900;
}

@font-face {
        font-family: "Monaspace Argon";
        src: url("libraries/monaspace/Monaspace-Argon-Variable.ttf") format("woff2");
        font-weight: 100 900;
}

@font-face {
        font-family: "Monaspace Radon";
        src: url("libraries/monaspace/Monaspace-Radon-Variable.ttf") format("woff2");
        font-weight: 100 900;
}

:root {
        --opacity-1: 0.87;
        --opacity-2: 0.60;
        --opacity-3: 0.38;
        --foreground-color-1: rgba(255, 255, 255, var(--opacity-1));
        --foreground-color-2: rgba(255, 255, 255, var(--opacity-2));
        --foreground-color-3: rgba(255, 255, 255, var(--opacity-3));
        --title-size: clamp(16px, 2vw, 32px);
        --body-size: clamp(12px, 1.5vw, 20px);
        --large-spacing: clamp(32px, 4.5vw, 56px);
        --medium-spacing: clamp(20px, 2.5vw, 32px);
        --small-spacing: clamp(8px, 1vw, 12px);
        --tiny-spacing: clamp(4px, 0.5vw, 6px);
        --input-height: clamp(24px, 3vw, 36px);
        --light-background-color: rgba(255, 255, 255, 0.1);
        --lighter-background-color: rgba(255, 255, 255, 0.2);
        --lightest-background-color: rgba(255, 255, 255, 0.5);
        --dark-background-color: rgba(0, 0, 0, 0.2);
        --darker-background-color: rgba(0, 0, 0, 0.5);
        --darkest-background-color: rgba(0, 0, 0, 0.9);
        --large-radius: 5px;
        --medium-radius: 2px;
        --small-radius: 1px;
}

::-webkit-scrollbar {
        width: 10px;
        height: 10px;
}

::-webkit-scrollbar-track {
        background: var(--light-background-color); 
        border-radius: var(--medium-radius);
}

::-webkit-scrollbar-thumb {
        background: var(--lighter-background-color); 
        border-radius: var(--medium-radius);
}

::placeholder {
        color: var(--lighter-background-color);
        opacity: 1;
}

*, *::before, *::after {
        box-sizing: border-box;
}

html, body {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;
        font-size: var(--body-size);
        font-family: "Monaspace Neon", monospace;
        font-feature-settings: "calt" 1;
        color: var(--foreground-color-1);
}

input, textarea, select, button {
        font: inherit;
        font-size: inherit;
        font-feature-settings: inherit;
        appearance: none;
        flex-shrink: 0;
        color: inherit;
}

#starfield {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
}

main {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        display: flex;
        padding: var(--large-spacing);
}

main > #editor {
        width: 0%;
        display: none;
        flex-direction: column;
        border-top-left-radius: var(--large-radius);
        border-bottom-left-radius: var(--large-radius);
        background-color: var(--darker-background-color);
        padding: var(--medium-spacing);
}

main.editing > #editor {
        display: flex;
        width: 50%;
}

#stepper {
        flex: 0 0 auto;
        display: flex;
        margin-bottom: var(--medium-spacing);
        gap: var(--small-spacing);
        justify-content: center;
}

#stepper > .icon {
        border-radius: 50%;
        background: var(--light-background-color);
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        cursor: pointer;
        opacity: 1;
}

#stepper > .icon.locked {
        opacity: var(--opacity-3);
}

#stepper > .icon.active {
        background-color: var(--lighter-background-color);
}

#scroller {
        position: relative;
        flex: 1;
        overflow: hidden;
        min-height: 0;
}

#track {
        display: flex;
        height: 100%;
        width: 100%;
        transition: transform 350ms cubic-bezier(0.22, 1, 0.36, 1);
}

.step {
        flex: 0 0 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        min-height: 0;
        /* If I don't add this, some sliver of the adjacent steps will be visible idk why */
        padding-left: var(--small-spacing);
        padding-right: var(--small-spacing);
}

.step > .title {
        font-size: var(--title-size);
        font-weight: bolder;
        font-family: "Monaspace Argon", monospace;
        margin-bottom: var(--medium-spacing);
        /* Account for the padding added to the step contents */
        padding-left: var(--small-spacing);
        padding-right: var(--small-spacing);
}

.step > .scroller {
        flex: 1;
        min-height: 0;
        display: flex;
        overflow-y: auto;
        flex-direction: column;
        padding-bottom: var(--small-spacing);
        padding-left: var(--small-spacing);
        padding-right: var(--medium-spacing);
}

label {
        margin-bottom: var(--tiny-spacing);
}

input[type="text"], textarea {
        border: none;
        outline: none;
        border-radius: var(--medium-radius);
        background-color: var(--light-background-color);
        padding: var(--tiny-spacing) var(--small-spacing);
        font-family: "Monaspace Radon", monospace;
        margin-bottom: var(--medium-spacing);
}

input[type="range"] {
        background-color: transparent;
        margin-bottom: var(--medium-spacing);
        width: 100%;
}

input[type="range"]::-webkit-slider-runnable-track {
        -webkit-appearance: none;
        border-radius: 999px;
        background-color: var(--light-background-color);
}

input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: var(--lighter-background-color);
        cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb:hover {
        background-color: var(--lightest-background-color);
}

textarea {
        resize: none;
}

button {
        border: none;
        outline: none;
        border-radius: var(--medium-radius);
        transition: background-color 100ms ease-out;
        background-color: var(--light-background-color);
        padding: var(--tiny-spacing) var(--small-spacing);
        cursor: pointer;
}

button:hover {
        background-color: var(--lighter-background-color);
}

:not(.dropdown) > button {
        margin-bottom: var(--medium-spacing);
}

main > #canvas {
        height: 100%;
        border-top-left-radius: var(--large-radius);
        border-bottom-left-radius: var(--large-radius);
        border-top-right-radius: var(--large-radius);
        border-bottom-right-radius: var(--large-radius);
        width: 100%;
}

main.editing > #canvas {
        width: 50%;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
}

.tippy-box {
        font-family: "Monaspace Radon", monospace;
        font-size: var(--body-size);
}

.dropdown {
        width: 100%;
        position: relative;
        margin-bottom: var(--medium-spacing);
}

.dropdown > button {
        width: 100%;
        text-align: left;
}

.dropdown > ul {
        display: none;
        list-style: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        margin: 0;
        padding: 0;
        background-color: var(--darkest-background-color);
        border-left: 1px solid var(--lighter-background-color);
        border-right: 1px solid var(--lighter-background-color);
        border-bottom: 1px solid var(--lighter-background-color);
        border-bottom-left-radius: var(--medium-radius);
        border-bottom-right-radius: var(--medium-radius);
        max-height: 200px;
        overflow-y: auto;
        z-index: 999;
}

.dropdown > ul > li {
        padding: var(--tiny-spacing) var(--small-spacing);
        transition: background-color 100ms ease-out;
        background-color: transparent;
        cursor: pointer;
}

.dropdown > ul > li:hover {
        background-color: var(--lighter-background-color);
}

.color-picker {
        display: flex;
        flex-direction: column;
        border-radius: var(--medium-radius);
        padding: var(--small-spacing) var(--medium-spacing);
        background-color: var(--light-background-color);
        margin-bottom: var(--medium-spacing);
}

.color-picker > label {
        margin-bottom: var(--small-spacing);
}

.color-picker > .presets {
        display: grid;
        gap: var(--small-spacing);
        margin-bottom: var(--small-spacing);
        grid-template-columns: repeat(auto-fill, var(--medium-spacing));
        justify-content: space-between;
}

.color-picker > .presets > button {
        border-radius: var(--large-radius);
        background-color: var(--color);
        width: var(--medium-spacing);
        height: var(--medium-spacing);
        padding: 0;
        margin: 0;
}

.color-picker > .components {
        display: grid;
        grid-template-columns: max-content 1fr max-content;
        column-gap: var(--small-spacing);
        align-items: center;
}

.color-picker > .components > input[type="range"] {
        margin: 0;
}