@import "./../variables.css";

color-picker-element {
        background-color: var(--light-background-color);
        padding: var(--small-spacing);
        display: flex;
        flex-direction: column;
}

color-picker-element > .presets {
        display: grid;
        gap: var(--small-spacing);
        grid-template-columns: repeat(auto-fill, var(--medium-spacing));
        justify-content: space-between;
}

color-picker-element > .presets:has(*) {
        padding: var(--small-spacing);
}

color-picker-element > .presets > button {
        border-radius: var(--large-radius);
        width: var(--medium-spacing);
        height: var(--medium-spacing);
        padding: 0;
        margin: 0;
}

color-picker-element > .sliders {
        display: flex;
        flex-direction: column;
        gap: var(--tiny-spacing);
}

color-picker-element > .sliders:has(*) {
        padding: var(--small-spacing);
}

color-picker-element > .sliders > slider-element {
        margin-bottom: 0;
}