@import "./../variables.css";

labeled-element {
        display: flex;
        flex-direction: column;
        margin-bottom: var(--medium-spacing);
}

labeled-element > label {
        white-space: pre;
        margin-bottom: var(--tiny-spacing);
}

labeled-element[inline-label] {
        flex-direction: row;
        align-items: center;
        gap: var(--small-spacing);
}

labeled-element[inline-label] > label {
        margin-bottom: 0;
}

labeled-element > .labeled {
        flex: 1;
}

labeled-element[margin="less"] {
        margin-bottom: var(--small-spacing);
}

labeled-element[margin="lesser"] {
        margin-bottom: var(--tiny-spacing);
}

labeled-element[margin="least"] {
        margin-bottom: 0;
}