@import "./../variables.css";

sprite-selector-element {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(var(--image-size), auto));
        justify-content: start;
        gap: var(--small-spacing);
}

sprite-selector-element > img {
        object-fit: contain;
        background-color: var(--light-background-color);
        border-radius: var(--medium-radius);
        width: var(--image-size);
        height: var(--image-size);
        user-select: none;
        cursor: pointer;
}

sprite-selector-element > img:hover {
        background-color: var(--lighter-background-color);
}

sprite-selector-element > img.selected {
        border: 2px solid var(--lightest-background-color);
}