@import "./../variables.css";

sprite-selector-element {
        display: flex;
        gap: var(--medium-spacing);
        background-color: var(--light-background-color);
        padding: var(--medium-spacing);
}

sprite-selector-element > .sprite-grid {
        flex: 1;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(var(--image-size), 1fr));
        grid-auto-rows: var(--image-size);
        gap: var(--small-spacing);
}

sprite-selector-element > .sprite-grid > img {
        object-fit: contain;
        background-color: var(--light-background-color);
        border-radius: var(--medium-radius);
        width: var(--image-size);
        height: var(--image-size);
        user-select: none;
        cursor: pointer;
}

sprite-selector-element > .sprite-grid > img:hover {
        background-color: var(--lighter-background-color);
}

sprite-selector-element > .sprite-grid > img.selected {
        outline: 2px solid var(--lightest-background-color);
}

sprite-selector-element > .sprite-editor {
        align-self: flex-end;
        display: flex;
        flex-direction: column;
        width: 200px;
}

sprite-selector-element .canvas-wrapper {
        width: 200px;
        height: 200px;
        border-radius: var(--large-radius);
        background-color: var(--darker-background-color);
        margin-bottom: var(--small-spacing);
}

sprite-selector-element ol.controls {
        display: flex;
        list-style: none;
        justify-content: space-evenly;
        width: 200px;
        gap: var(--small-spacing);
        margin: 0;
        padding: 0;
}

sprite-selector-element ol.controls > li {
        width: 36px;
        height: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        cursor: pointer;
        background-color: var(--light-background-color);
        border-radius: var(--medium-radius);
}

sprite-selector-element ol.controls > li:hover {
        background-color: var(--lighter-background-color);
}