@import "./../variables.css";

toggle-element {
        margin-bottom: var(--small-spacing) !important;
}

toggle-element > .control {
        width: 100%;
        display: flex;
        justify-content: flex-end;
}

toggle-element > .control > button {
        all: unset;
        width: 100%;
        background-color: var(--light-background-color);
        width: calc(var(--medium-spacing) * 2);
        height: var(--medium-spacing);
        border-radius: calc(var(--medium-spacing) / 2);
        position: relative;
        display: inline-block;
}

toggle-element > .control > button > .handle {
        background-color: var(--lightest-background-color);
        width: calc(var(--medium-spacing) * 0.9);
        height: calc(var(--medium-spacing) * 0.9);
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        transition:
                transform 150ms ease-out,
                background-color 150ms ease-out,
                border 150ms ease-out;
}

toggle-element > .control > button[aria-checked="false"] > .handle {
        transform: translateX(calc(var(--medium-spacing) * 0.1)) translateY(-50%);
        border: 1.5px solid var(--lightest-background-color);
        background-color: transparent;
}

toggle-element > .control > button[aria-checked="true"] > .handle {
        transform: translateX(calc(100% + var(--medium-spacing) * 0.1)) translateY(-50%);
        background-color: var(--lightest-background-color);
        border: none;
}