@import "./variables.css";

#starfield {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
}

.tippy-box {
        font-family: "Monaspace Radon", monospace;
        font-size: var(--body-size);
}