@import "./variables.css";
@import "./elements/labeled.css";
@import "./elements/toggle.css";
@import "./elements/slider.css";
@import "./elements/dropdown.css";
@import "./elements/color_picker.css";
@import "./elements/sprite_selector.css";

::-webkit-scrollbar {
        width: var(--small-spacing);
        height: var(--small-spacing);
}

::-webkit-scrollbar-track {
        background: var(--light-background-color); 
        border-radius: calc(var(--small-spacing) / 2);
}

::-webkit-scrollbar-thumb {
        background: var(--lighter-background-color); 
        border-radius: calc(var(--small-spacing) / 2);
}

::placeholder {
        color: var(--lighter-background-color);
        opacity: 1;
}

*, *::before, *::after {
        box-sizing: border-box;
}

.tippy-box {
        font-family: "Monaspace Radon", monospace;
        font-size: var(--body-size);
}

html, body {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;
        font-size: var(--body-size);
        font-family: "Monaspace Neon", monospace;
        font-feature-settings: "calt" 1;
        color: var(--foreground-color-1);
}

input, textarea, select, button {
        font: inherit;
        font-size: inherit;
        font-feature-settings: inherit;
        appearance: none;
        flex-shrink: 0;
        color: inherit;
}

#starfield {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
}

main {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        display: flex;
        padding: var(--medium-spacing);
}

main > #editor {
        width: 0%;
        display: none;
        flex-direction: column;
        border-top-left-radius: var(--large-radius);
        border-bottom-left-radius: var(--large-radius);
        background-color: var(--darker-background-color);
        padding: var(--medium-spacing);
}

main.editing > #editor {
        display: flex;
        width: calc(200% / 3);
}

#stepper {
        list-style: none;
        padding-inline-start: 0;
        flex: 0 0 auto;
        display: flex;
        margin-top: 0;
        margin-bottom: var(--medium-spacing);
        gap: var(--small-spacing);
        justify-content: center;
}

#stepper > .icon {
        border-radius: 50%;
        background: var(--light-background-color);
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        cursor: pointer;
        opacity: 1;
}

#stepper > .icon.active {
        background-color: var(--lighter-background-color);
}

#scroller {
        position: relative;
        flex: 1;
        overflow: hidden;
        min-height: 0;
}

#track {
        display: flex;
        height: 100%;
        width: 100%;
        transition: transform 350ms cubic-bezier(0.22, 1, 0.36, 1);
}

.step {
        flex: 0 0 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        min-height: 0;
        /* If I don't add this, some sliver of the adjacent steps will be visible idk why */
        padding-left: var(--small-spacing);
        padding-right: var(--small-spacing);
}

.step > .title {
        font-size: var(--title-size);
        font-weight: bolder;
        font-family: "Monaspace Argon", monospace;
        margin-bottom: var(--medium-spacing);
        /* Account for the padding added to the step contents */
        padding-left: var(--small-spacing);
        padding-right: var(--small-spacing);
}

.step > .scroller {
        flex: 1;
        min-height: 0;
        display: flex;
        overflow-x: hidden;
        overflow-y: auto;
        flex-direction: column;
        padding-bottom: var(--small-spacing);
        padding-left: var(--small-spacing);
        padding-right: var(--medium-spacing);
}

.step > .wrapper {
        flex: 1;
        min-height: 0;
        display: flex;
        overflow-x: hidden;
        overflow-y: hidden;
        padding-bottom: var(--small-spacing);
        padding-left: var(--small-spacing);
}

.step > .footer {
        margin-top: var(--medium-spacing);
}

input[type="text"], textarea {
        width: 100%;
        border: none;
        outline: none;
        border-radius: var(--medium-radius);
        background-color: var(--light-background-color);
        padding: var(--tiny-spacing) var(--small-spacing);
        font-family: "Monaspace Radon", monospace;
}

textarea {
        resize: none;
}

button {
        border: none;
        outline: none;
        border-radius: var(--medium-radius);
        transition: background-color 100ms ease-out;
        background-color: var(--light-background-color);
        padding: var(--tiny-spacing) var(--small-spacing);
        cursor: pointer;
}

button:hover {
        background-color: var(--lighter-background-color);
}

main > #canvas {
        height: 100%;
        border-top-left-radius: var(--large-radius);
        border-bottom-left-radius: var(--large-radius);
        border-top-right-radius: var(--large-radius);
        border-bottom-right-radius: var(--large-radius);
        width: 100%;
}

main.editing > #canvas {
        width: calc(100% / 3);
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
}

#export-preview-panel {
        flex: 2;
        width: fit-content;
        height: 100%;
        display: flex;
        flex-direction: column;
        margin-right: var(--small-spacing);
}

#export-preview-panel .title {
        margin-bottom: var(--small-spacing);
}

#export-preview-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
}

#export-preview {
        width: 150px;
        height: 150px;
        outline: 2px solid var(--light-background-color);
        border-radius: var(--large-radius);
        margin-bottom: var(--small-spacing);
}

#export-scroller {
        flex: 3;
        overflow-x: hidden;
        overflow-y: auto;
        padding-bottom: var(--small-spacing);
        padding-left: var(--small-spacing);
        padding-right: var(--medium-spacing);
}

.secondary {
        color: var(--foreground-color-2);
}

#randomize {
        background-color: transparent;
        outline: 1px solid var(--lighter-background-color);
}

#randomize:hover {
        background-color: var(--light-background-color);
}